@model IEnumerable<GSTT.Hack.Management.FrontEnd.Models.SubscriptionsModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Register Now", "Create", new { }, new { @class = "btn btn-primary btn-lg center-block" })
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
        <th>Categorys</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.EmailAddress)</td>
        <td>Category 1, Category 2</td>
    </tr>
}

</table>
