@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Document subscription Manager</h1>
    <p class="lead">Welcome to the wonderfull world of subscriptions!</p>
</div>

<div class="row">
   
</div>